# SPDX-FileCopyrightText: 2016 Antonin Bas
#
# SPDX-License-Identifier: Apache-2.0

# Python byte code
*.pyc
*.pyo

# Emacs
*~

# Compiled JSON
*.json
!*p4app.json
!topology.json
!*-runtime.json
!consensus/common/topo/*.json
!consensus/common/runtime/*.json
!consensus/*/runtime/*.json

*.pcap

# Extracted solutions
solution*/
!solution/

# Build folders
build*/

# Logs folders
logs/
consensus/iors/results/

# Vagrant
.vagrant/

# Mac OS
*.DS_Store

# IntelliJ / PyCharm
.idea/
